@charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/** 노말라이즈 */
body, ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:inherit;
}


/** 사이드 바 */
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #21ABE2;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #bcd0ec;
    --box2-color: #bcd0ec;
    --box3-color: #FFF;
    --title-icon-color: #fff;
    --active-btn-color:#1d2053;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
}
body.dark{
    --primary-color: #1d2053;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3Argb(0, 255, 255)    --box3-color: #3A3B3C;
    --box3-color: #bcd0ec;
    --title-icon-color: #CCC;
    --active-btn-color:#21ABE2;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--black-light-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background:var(--primary-color);
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}                  
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1000;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid var(--primary-color);
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box3-color);
    transition: var(--tran-05);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.boxes .box i{
    font-size: 35px;
    color: var(--primary-color);
}
.boxes .box .text-title{
    white-space: nowrap;
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
}
.boxes .box .text-date{
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
}
.boxes .box .text-manager{
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}
.boxes .box .text-status{
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--primary-color);
}


.text-pty{
    white-space: nowrap;
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}
.text-weatherMsg{
    white-space: nowrap;
    font-size: 30px;
    color: var(--primary-color);
}
.text-tmp{
    white-space: nowrap;
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
}
.text-vec{
    white-space: nowrap;
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}
.text-wsd{
    white-space: nowrap;
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
}
.weather-box{
	display:flex;
	justify-content:space-between;
	border:1px solid var(--primary-color);
 	border-radius: 12px;
    width: calc(100%);
    padding: 15px 20px;
    background-color: var(--box3-color);
    transition: var(--tran-05);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.pty-box{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	align-items:center;
}
.wsd-box{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}

.main-list-table{
	width: calc(97%);
	text-align:center;
  	border-collapse:collapse;
	table-layout:fixed;
	color: var(--text-color);
	margin: 3px;
}
.section-2{
	display: flex;
	justify-content: space-between;
}
.activity{
	width: calc(50% - 38px);
}
.weather{
	width: calc(50% - 50px);
}

.title > i{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
        color: var(--text-color);
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
/** 커스텀 */
.login-status{
	margin-right:10px;
}
.login-status-text{
	color:var(--text-color);
}

/** 로그인 페이지 css*/
.findLoginId-modal-bg{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
   z-index: 1200;
}
.findLoginId-modal{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.findPassword-modal-bg{
	position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}
.findPassword-modal{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.loginPage-btn{
	text-align:center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.25rem;
	margin: 0.75rem;
	transition: var(--tran-05);
	
}
.loginPage-btn:hover{
	background-color:var(--primary-color);
}


/** 게시판 페이지 css*/
.article-list-boardName{
	font-size: 2rem;
}
.article-list-thead{
  background-color:var(--box3-color);
  color:var(--primary-color);
}
.article-list-table{
  text-align:center;
  border-collapse:collapse;
  table-layout:fixed;
  color: var(--text-color);
}
.article-list-thead>tr>th{
  height:50px;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}
.article-list-tbody>tr>td{
  height:30px;
  white-space:nowrap;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  
}
.article-list-tbody>tr{
	transition:0.3s;
}
.article-list-tbody>tr:hover{
  background-color:var(--border-color);
}
.article-list-box{
  display:flex;
  flex-direction:column;
  width:auto;
  margin:0 30px;
  min-width:740px;
  margin-top: 100px;
}
.search-box{
  display:flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 10px;
  height:50px;
}
.input-article-search{
	width:300px;
}
.input-article-select{
	appearance: none;
}

.article-list-search-btn{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	display:inline-block;
}
.article-list-search-btn > button{
	width:100%;
	height:40px;
}
.article-badge{
	background-color: var(--primary-color);
	margin-right: 0.5rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	border-radius: 0.25rem;
	color: var(--text-color);
}
.page-move-btn{
	background-color: var(--primary-color);
	width:30px;
	height: 30px;
	border-radius: 0.25rem;
	color: var(--text-color);
}

.page-move-btn-active{
	background-color: var(--active-btn-color);
	width:30px;
	height: 30px;
	border-radius: 0.25rem;
	color: var(--box3-color);
}

.page-move-btn-not-active{
	cursor: default;
}
/** calendar page*/
.calendar-box{
	display: flex;
	justify-content: center;
	
}
.calendar{
	background-color:white;
	margin-top: 90px;
	width:1024px;
}
/** edustatus */
.edu-status{
	margin-top: 80px;
}
.edu-status-nav-box{
	max-width:700px;
	min-width:350px;
	height:50px;
	display:flex;
	align-items:center;
}
.edu-status-nav-item{
	flex-grow:1;
	text-align:center;
	border:1px solid var(--primary-color);
	background-color: var(--box3-color);
	margin:10px;
	border-radius:12px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	font-size:1.5rem;
	color: var(--primary-color);
}
.edu-status-card{
	border:1px solid var(--primary-color);
	max-width:700px;
	min-width:350px;
	height:200px;
	border-radius:12px;
	margin:20px 0;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: var(--box3-color);
	display:flex;
	align-items:center;
	cursor: pointer;
	position: relative;
}
.edu-status-card>div{
	margin:20px;
}
.edu-status-title{
	white-space: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.myeduStatusCancle{
	position: absolute;
	top:70%;
	right:5%;
}
/** write */
.article-write-btn{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin-top: 10px;
}
.article-write-btn>button{
	width:100px;
	text-align: center;
}
.article-write-box{
	width:auto;
	height:100vh;
	margin-top: 80px;
}
.article-write-title-box{
	width:auto;
	display:flex;
}
.article-write-title-box > select{
	text-align:center;
	flex-grow:1;
	margin:20px;
	height:30px;
	border-radius:12px;
}
.article-write-title-box > input{
	flex-grow:8;
	margin:20px;
	height:30px;
	border-radius:12px;
}
.article-write-submit-btn{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin-top: 10px;
}
.article-write-submit-btn>button{
	width:100px;
	text-align: center;
}

/** article-detail */
.article-detail-box{
	margin-top:80px;
	border:1px solid var(--primary-color);
	min-width: 850px;
}
.article-detail-status-box{
	padding:5px;
	border-bottom:1px solid var(--primary-color);
}
.article-detail-status-img-box{
	height:100px;
	width:100px;
	border:1px solid var(--primary-color);
}
.article-detail-status-img-box>img{
	height:98px;
	width:100px;
}

.article-detail-status-content{
	padding:5px;
	display:flex;
	width:100%;
}
.article-detail-status-content-info{
	margin-left:20px;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	color:var(--text-color);
}
.article-detail-status-content-attr{
	display:flex;
}
.article-detail-status-content-attr-item{
	display:flex;
	margin-right:20px;
}
.article-detail-status-reaction-box{
	display:flex;
}
.article-detail-status-content-title{
	display:flex;
	font-size: 1.3rem;
}
.article-detail-status-content-writer{
	display:flex;
}
.toast-ui-viewer{
	min-height:100vh;
}
.goodReaction{
	background-color: var(--box3-color);
	border:1px solid var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin: 10px;
}
.badReaction{
	background-color: var(--box3-color);
	border:1px solid var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin: 10px;
}
.article-detail-btn-box>button{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin-top: 10px;
}
/** comment */
.comment-box{
	display:flex;
	flex-direction:column;
	margin-top: 10px;
}
.comment-input-box{
	width:100%;
	height: 35px;
}
.comment-input-box>form{
	display:flex;
	align-content:center;
}
.comment-input-box>form>input{
	height:30px;
	border-radius:12px;
	
}
.comment-input{
	flex-grow:8;
}
.comment-input-label{
	flex-grow:0;
}
.comment-input-btn{
	flex-grow:1;
	display:flex;
	justify-content:center;
}
.comment-input-btn>button{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
}
.comment-list>form{
	display:flex;
	border-bottom:1px solid black;
	border-top:1px solid black;
	margin-top:5px;
	height: 35px;
}
.comment-list-writer{
	flex-grow:2;
	text-align:center;
}
.comment-list-body{
	flex-grow:7;
	border:none;
	outline: none;
}
.comment-list-btn-box{
	flex-grow:1;
	display:flex;
	justify-content:space-around;
}
.comment-list-submit-btn-box{
	flex-grow:1;
	display:flex;
	justify-content:space-around;
}

.comment-list-modify-btn{
	border:1px solid var(--primary-color);
	background-color: var(--box3-color);
	color: var(--primary-color);
	border-radius: 8px;
	width: 50px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
}

.comment-list-delete-btn{
	border:1px solid var(--primary-color);
	background-color: var(--box3-color);
	color: var(--primary-color);
	border-radius: 8px;
	width: 50px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
}
.comment-list-cancle-btn{
	border:1px solid var(--primary-color);
	background-color: var(--box3-color);
	color: var(--primary-color);
	border-radius: 8px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}
/** 회원 관리 */
.member-list-title{
	font-size: 2rem;
}
.member-list-thead{
  background-color:var(--box3-color);
  color:var(--primary-color);
}
.member-list-table{
  text-align:center;
  border-collapse:collapse;
  table-layout:fixed;
  color: var(--text-color);
}
.member-list-thead>tr>th{
  height:50px;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}
.member-list-tbody>tr>td, th{
  height:30px;
  white-space:nowrap;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  
}
.member-list-tbody>tr{
	transition:0.3s;
}
.member-list-tbody>tr:hover{
  background-color:var(--border-color);
}
.member-list-box{
  display:flex;
  flex-direction:column;
  width:auto;
  margin:0 30px;
  min-width:740px;
  margin-top: 100px;
}
.search-box{
  display:flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 10px;
  height:50px;
}
.input-member-search{
	width:300px;
}
.input-member-select{
	appearance: none;
}

.member-list-search-btn{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	display:inline-block;
}
.member-list-search-btn > button{
	width:100%;
	height:40px;
}
.member-badge{
	background-color: var(--primary-color);
	margin-right: 0.5rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	border-radius: 0.25rem;
	color: var(--text-color);
}
.page-move-btn{
	background-color: var(--primary-color);
	width:30px;
	height: 30px;
	border-radius: 0.25rem;
	color: var(--text-color);
}

.page-move-btn-active{
	background-color: var(--active-btn-color);
	width:30px;
	height: 30px;
	border-radius: 0.25rem;
	color: var(--box3-color);
}

.page-move-btn-not-active{
	cursor: default;
}
.member-delete-btn{
	background-color: var(--primary-color);
	color: var(--text-color);
	width:100px;
	border-radius:8px;
	margin-top: 10px;
}
.member-delete-btn>button{
	width:100px;
	text-align: center;
}