@charset "UTF-8";

@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html>body, html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode{
	font-family: 'KOFIHDrLEEJWTTF-B', sans-serif;
	text-underline-position: under;
}

/** 커스텀 */
/** 테마 */
.btn-theme-toggle > span:first-child {
  display:none;
}

html[data-theme="dark"] .btn-theme-toggle > span:first-child {
  display:inline;
}

html[data-theme="dark"] .btn-theme-toggle > span:last-child {
  display:none;
}
body{
	min-width: 1024px;
}
.main-img{
	margin: 0 auto;
}
.educationCourse{
	border: 1px solid black;
	background-color: #dfdfdf;
	padding: 20px;
	margin: 20px;
	width: 300px;
	height: 150px;
	border-radius: 20px;
}
.simple-border-box{
	border-bottom:1px solid #8D8D8D;
	border-left: 1px solid #8D8D8D;
	border-right: 1px solid #8D8D8D;
}
.solid-border-box{
	border:1px solid #8D8D8D;
}
.top-bar-menu{
	display: flex;
	align-items: center;
	height: 100%;
	font-weight: bold;
	padding: 0 28px;
}
.educationCourses-box{
	width: 1024px;
	margin: 0 auto;
}